[global]
backup_base_dir = /backup/data/

# backup retention in days
backup_retention_time=90

# for nagios check in hours
maximum_backup_age=30

;[srvopenerp-slash]
;type=rsync+ssh
;server_name=srvopenerp
;remote_dir=/
;compression=True
;exclude_list="/proc/**","/sys/**","/dev/**"
;private_key=/root/.ssh/id_rsa
;ssh_port = 22

;[srvzimbra-slash]
;type=rsync+ssh
;server_name=srvzimbra
;remote_dir=/
;exclude_list="/proc/**","/sys/**","/dev/**" 
;private_key=/root/.ssh/id_rsa
;ssh_port = 22

;[backup_mysql_srvintranet]
;type=mysql+ssh
;server_name=srvintranet
;private_key=/root/.ssh/id_rsa
;db_name=wiki
;db_user=root
;db_passwd=mypassword

;[srvopenerp-pgsql]
;type=pgsql+ssh
;server_name=srvopenerp
;db_name=tranquil-production
;private_key=/root/.ssh/id_rsa
;ssh_port = 22

;[test-backup-xva2]
;type=xen-xva
;xcphost=srvxen1-test
;server_name=test-backup-xva2
;password_file=/root/xen_passwd

;[sw-serveur]
;type=switch
;server_name=sw-serveur
;switch_ip=192.168.0.253
;switch_user=admin
;switch_password=toto
;switch_type=LINKSYS-SRW2024

;[backup_mysql_srvintranet]
;type=mysql+ssh
;server_name=srvintranet
;private_key=/root/.ssh/id_rsa
;db_name=
;db_user=root
;db_passwd=

;[srvads-samba4]
;type=samba4
;server_name=srvads
;private_key=/root/.ssh/id_rsa
;root_dir_samba=/usr/local/samba/

;[backup_mysql_srvintranet]
;type=mysql+ssh
;server_name=srvintranet
;private_key=/root/.ssh/id_rsa
;db_name=
;db_user=root
;db_passwd=

;[backup_sql_srvintranet]
;type=sqlserver+ssh
;server_name=srvintranet
;private_key=/root/.ssh/id_rsa
;db_name=testbackup
;db_user=sa
;db_password=xxx


;[debian-ovf]
;type=esx-vmdk
;server_name=debian
;esxhost=192.168.0.213
;password_file=/etc/.esx_passwd
;create_ovafile=yes

;[srvxen1-metadata]
;type=xcp-dump-metadata
;server_name=srvxen1
;private_key=/root/.ssh/id_rsa

