{% extends "layout.html" %}
{% block content %}

<div class="accordion" id="accordion2">

{% if backup_list['rsync_ssh_list']|count != 0 %}

  <div class="accordion-group">
    <div class="accordion-heading">
    	<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse1"><h2 >Type: rsync+ssh</h2></a>
    </div>
    <div id="collapse1" class="accordion-body collapse">
      <div class="accordion-inner">
	<table class="table table-bordered">
	      <thead>
		      <th>Server</th>
		      <th>Backup</th>
		      <th>Directory</th>
	      </thead>
	      </tbody>
		      {% for entry in backup_list['rsync_ssh_list'] %}
		      <tr>
			  <td>{{ entry[0] }}</td>
			  <td>{{ entry[1] }}</td>
			  <td>{{ entry[3] }}</td>
		      </tr>
		      {% endfor %}
	      </tbody>
	  </table>

      </div>
    </div>
  </div>


{% endif %}

{% if backup_list['rsync_btrfs_list']|count != 0 %}
 <div class="accordion-group">
    <div class="accordion-heading">
	<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse2"><h2 >Type: rsync+btrfs+ssh</h2></a>
    </div>
    <div id="collapse2" class="accordion-body collapse ">
      <div class="accordion-inner">
	<table class="table table-bordered">
		<thead>
		    <th>Server</th>
		    <th>Backup</th>
		    <th>Directory</th>
	    </thead>
	    </tbody>
		    {% for entry in backup_list['rsync_btrfs_list'] %}
		    <tr>
			<td>{{ entry[0] }}</td>
			<td>{{ entry[1] }}</td>
			<td>{{ entry[3] }}</td>
		    </tr>
		    {% endfor %}
	    </tbody>
	</table>
	</div>
    </div>
  </div>
	
{% endif %}

{% if backup_list['rsync_list']|count != 0 %}
<div class="accordion-group">
    <div class="accordion-heading">
	<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse3"><h2>Type: rsync</h2></a>
    </div>
    <div id="collapse3" class="accordion-body collapse ">
      <div class="accordion-inner">
	<table class="table table-bordered">
		<thead>
		    <th>Server</th>
		    <th>Backup</th>
		    <th>Directory</th>
	    </thead>
	    </tbody>
		    {% for entry in backup_list['rsync_list'] %}
		    <tr>
			<td>{{ entry[0] }}</td>
			<td>{{ entry[1] }}</td>
			<td>{{ entry[3] }}</td>
		    </tr>
		    {% endfor %}
	    </tbody>
	</table>
     </div>
  </div>
</div>
{% endif %}


{% if backup_list['pgsql_list']|count != 0 %}
<div class="accordion-group">
    <div class="accordion-heading">
	<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse4"><h2>Type: pgsql</h2></a>
    </div>
    <div id="collapse4" class="accordion-body collapse ">
      <div class="accordion-inner">
    <table class="table table-bordered">
	    <thead>
	        <th>Server</th>
	        <th>Backup</th>
	        <th>Database</th>
        </thead>
        <tbody>
	        {% for entry in backup_list['pgsql_list'] %}
	        <tr>
	            <td>{{ entry[0] }}</td>
	            <td>{{ entry[1] }}</td>
	            <td>{{ entry[3] }}</td>
	        </tr>
	        {% endfor %}
        </tbody>
    </table>
       </div>
  </div>
</div>
{% endif %}


{% if backup_list['mysql_list']|count != 0 %}
<div class="accordion-group">
    <div class="accordion-heading">
	<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse5"><h2>Type: mysql</h2></a>
    </div>
    <div id="collapse5" class="accordion-body collapse ">
      <div class="accordion-inner">
    <table class="table table-bordered">
	    <thead>
	        <th>Server</th>
	        <th>Backup</th>
	        <th>Database</th>
        </thead>
        <tbody>
	        {% for entry in backup_list['mysql_list'] %}
	        <tr>
	            <td>{{ entry[0] }}</td>
	            <td>{{ entry[1] }}</td>
	            <td>{{ entry[3] }}</td>
	        </tr>
	        {% endfor %}
        </tbody>
    </table>
        </div>
  </div>
</div>
{% endif %}

{% if backup_list['sqlserver_list']|count != 0 %}
<div class="accordion-group">
    <div class="accordion-heading">
	<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse6"><h2>Type: SQLserver</h2></a>
    </div>
    <div id="collapse6" class="accordion-body collapse ">
      <div class="accordion-inner">
    <table class="table table-bordered">
	    <thead>
	        <th>Server</th>
	        <th>Backup</th>
	        <th>Database</th>
        </thead>
        <tbody>
	        {% for entry in backup_list['sqlserver_list'] %}
	        <tr>
	            <td>{{ entry[0] }}</td>
	            <td>{{ entry[1] }}</td>
	            <td>{{ entry[3] }}</td>
	        </tr>
	        {% endfor %}
        </tbody>
    </table>
       </div>
  </div>
</div>
{% endif %}

{% if backup_list['xva_list']|count != 0 %}
<div class="accordion-group">
    <div class="accordion-heading">
	<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse7"><h2>Type: Exports XVA</h2></a>
    </div>
    <div id="collapse7" class="accordion-body collapse ">
      <div class="accordion-inner">
    <table class="table table-bordered">
	    <thead>
	        <th>Server</th>
	        <th>Backup</th>
        </thead>
        <tbody>
	        {% for entry in backup_list['xva_list'] %}
	        <tr>
	            <td>{{ entry[0] }}</td>
	            <td>{{ entry[1] }}</td>
	        </tr>
	        {% endfor %}
        </tbody>
    </table>
       </div>
  </div>
</div>
{% endif %}

{% if backup_list['metadata_list']|count != 0 %}
<div class="accordion-group">
    <div class="accordion-heading">
	<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse8"><h2>Type: XCP Metadata</h2></a>
    </div>
    <div id="collapse8" class="accordion-body collapse ">
      <div class="accordion-inner">
    <table class="table table-bordered">
        <thead>
            <th>Server</th>
            <th>Backup</th>
        </thead>
        <tbody>
            {% for entry in backup_list['metadata_list'] %}
            <tr>
                <td>{{ entry[0] }}</td>
                <td>{{ entry[1] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
         </div>
  </div>
</div>
{% endif %}

{% if backup_list['switch_list']|count != 0 %}
<div class="accordion-group">
    <div class="accordion-heading">
	<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse9"><h2>Type: Switchs</h2></a>
    </div>
    <div id="collapse9" class="accordion-body collapse ">
      <div class="accordion-inner">
    <table class="table table-bordered">
        <thead>
            <th>Server</th>
            <th>Backup</th>
        </thead>
        <tbody>
            {% for entry in backup_list['switch_list'] %}
            <tr>
                <td>{{ entry[0] }}</td>
                <td>{{ entry[1] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
         </div>
  </div>
</div>
{% endif %}


{% if backup_list['oracle_list']|count != 0 %}
<div class="accordion-group">
    <div class="accordion-heading">
	<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse10"><h2>Type: Oracle serveurs</h2></a>
    </div>
    <div id="collapse10" class="accordion-body collapse ">
      <div class="accordion-inner">
    <table class="table table-bordered">
	    <thead>
	        <th>Server</th>
	        <th>Backup</th>
	        <th>Database</th>
        </thead>
        <tbody>
	        {% for entry in backup_list['oracle_list'] %}
	        <tr>
	            <td>{{ entry[0] }}</td>
	            <td>{{ entry[1] }}</td>
	            <td>{{ entry[3] }}</td>
	        </tr>
	        {% endfor %}
        </tbody>
    </table>
         </div>
  </div>
</div>
{% endif %}

{% if backup_list['samba_list']|count != 0 %}
<div class="accordion-group">
    <div class="accordion-heading">
	<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse11"><h2>Type: Samba4</h2></a>
    </div>
    <div id="collapse11" class="accordion-body collapse ">
      <div class="accordion-inner">
    <table class="table table-bordered">
	    <thead>
	        <th>Server</th>
	        <th>Backup</th>
        </thead>
        <tbody>
	        {% for entry in backup_list['samba_list'] %}
	        <tr>
	            <td>{{ entry[0] }}</td>
	            <td>{{ entry[1] }}</td>
	        </tr>
	        {% endfor %}
        </tbody>
    </table>
       </div>
  </div>
</div>
{% endif %}


</div>


{% endblock %}
