[Unit]
Description=tisbackup
 
[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/tisbackup/tisbackup_gui.py
 
[Install]
WantedBy=multi-user.target
